@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');
/* Body */
body {
  width: 1440px;
  height: 80px;
  left: 0px;
  right: 0px;
  top: 0px;
  margin: auto;
}

/* Select transit icon */
.icon-color {
  color: #1b31a8;
}
.icon-section {
  margin-bottom: 10px;
}

/* Header */
.header {
  background: #ffffff;
}
.header-icon {
  width: 160px;
  height: 69px;
  margin-top: 6px;
  margin-left: 67px;
}

/* Layout Color */
.layout {
  background-color: #f4f8fa;
  height: 100vh;
  width: 100%;
}
.layout h3 {
  padding-top: 14px;
  text-align: center;
  margin-top: 0px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  font-family: "Work Sans";
  color: #1b31a8;
}

.layout h3 .dis {
  font-weight: 600;
}

/* Layout container */
.container {
  display: flex;
  flex-wrap: wrap;
}

.layout-box {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.map-box {
  flex: 1;
  margin-right: -89px;
}

.user-input-box {
  flex: 1;
  order: -1;
}

/* layout-box-container */
.layout-box-container {
  display: flex;
  flex-wrap: wrap;
}
.layout-box-size {
  max-width: 80%;
  margin-left: 156px;
}
.box1 {
  align-items: center !important;
  justify-content: center;
  display: flex;
  flex: 1;
}

.box1 button {
  width: 141px;
  height: 62px;
  left: 505px;
  top: 262px;
  border-radius: 32px;
  color: #ffffff;
  background-color: #1b31a8;
  border: 1px solid #1b31a8;
  cursor: pointer;
}

.box2 {
  flex: 1;
  order: -1;
}

label {
  display: block;
  font-size: 14px;
  margin-bottom: -10px;
}

/* input-field */
.label-text {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: #000000;
}
.input-field {
  width: 250px;
  height: 45px;
  left: 156px;
  background: #ffffff;
  border: 1px solid #dcddec;
  border-radius: 6px;
  margin-top: 15px;
  margin-bottom: 19px;
  font-weight: 700;
  font-size: 16px;
  padding-left: 38px;
  /* location icon */
}
.test{
  width: 11.35px!important;
  height: 11.35px!important;
  background-color: #32CD32;
  border: 3px solid #000000;
  border-radius: 50px;
  position: relative;
  left: 172px;
  top: 14.6%;
  transform: translateY(-50%);
}
.test2{
  width: 5.35px!important;
  height: 5.35px!important;
  background-color: #ffffff;
  border: 5px solid #000000;
  border-radius: 50px;
  position: relative;
  left: 172px;
  top: 28.7%;
  transform: translateY(-50%);
}
.test3::before {
  position: relative;
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  background-image: url('./icon/D.png');
  background-size: contain;
  left: 176px;
  top: 47%;
  transform: translateY(-3069%);
  background-color: #000000;
}
.layout-box-size .input-field .input-field-icon-1{
  position: absolute;
}
.input-field .input-field-icon-2{
  position: absolute;
}
.input-field-icon-3{
  background-image: url("./icon/room.png")!important;
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: left 16px center;
  background-color: #ffffff;
}

.input-field-icon-3 .location-d{
  position: absolute;
}

input:focus {
  border-color: #dcddec;
  outline: none;
}

/* Common Layout */
.distance-layout {
  width: 490px;
  height: 155px;
  margin-left: 67px;
}
.distance-section {
  width: 100%;
  height: 45px;
  border: 1px solid #dcddec;
  border-radius: 6px;
  background-color: #ffffff;
  color: #000000;
  display: flex;
  justify-content: space-between;
  padding: 0 10px 0 10px;
  margin-top: 15px;
}
.distance-section h4 {
  margin-top: 9px;
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
}
.distance-section h5 {
  margin-top: 4px;
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
  color: #0079ff;
}
.distance-text {
  color: #1e2a32;
  font-weight: 400;
  font-size: 16px;
  margin-top: 15px;
  line-height: 120%;
  font-family: "Work Sans";
  font-style: normal;
}

/* distance-layout-div */
.distance-layout-div {
  width: 490px;
  height: 155px;
  margin-left: 156px;
  display: flex;
  flex-direction: column;
  border: 1px solid #dcddec;
  border-radius: 8px;
  margin-top: 20px;
}
.dis-1 {
  /* flex: 1; */
  background-color: #ffffff;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  height: 77px;
}
.dis-2 {
  /* flex: 1; */
  background-color: #f4f8fa;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  height: 77px;
  padding: 0 25px 0 25px;
}
.dis-2 .dis-h1{
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
  color: #1E2A32;
  display: flex;
  align-items: center;
  padding: 0 25px 0 25px;
}
.distance-div {
  display: flex;
  justify-content: space-between;
  padding: 0 25px 0 25px;
}
.distance-div-1 {
  color: #1e2a32;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  padding-top: 8px;
}
.distance-div-2{
  color: #0079FF;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
  margin-top: 20px;
}

/* front color */
.target-color {
  color: #1e2a32 !important;
  font-weight: 700;
}

/* loading */
.loading {
  text-align: center;
}

/* Mobile screen */
@media screen and (max-width: 767px) {
  .layout {
    background-color: #f4f8fa;
    height: 100%;
  }
  .icon-section {
    text-align: center;
    order: -1;
  }
  .label-text {
    display: none;
  }
  .layout h3 {
    display: none;
  }
  body {
    width: 375px;
    overflow-x: hidden;
  }
  .header {
    display: none;
  }
  .layout-box {
    width: 100%;
    flex: none;
  }
  .map-box {
    order: -1;
  }
  .layout-input-box {
    width: 100%;
    flex: none;
  }
  .layout-box-size {
    max-width: 90%;
    margin: auto;
  }

  .input-field {
    width: 300px;
    margin-top: 23px;
    padding-left: 38px;
  }
  .box1 button {
    width: 141px;
    height: 40px;
  }
  .distance-layout-div {
    width: 344px;
    margin-left: 13px;
    margin-top: 20px;
  }
  .distance-layout {
    width: 349px;
    height: 155px;
    margin-left: 1px;
    margin-top: 25px;
  }
  .distance-section {
    width: 88%;
    margin-left: auto;
  }
  .distance-section h4 {
    font-size: 18px;
    margin-top: 12px;
  }
  .distance-section h5 {
    margin-top: 9px;
    font-size: 22px;
  }
  .distance-text {
    padding: 18px 0px 0px 0px;
    margin: auto;
    font-size: 12px;
    font-weight: 400;
  }
  .target-color {
    color: #1e2a32 !important;
    font-weight: 700;
  }
  .test{
    left: 31px;
    top: 13.2%;
  }
  .test2{
    left: 31px;
    top:24.8%;
  }
  .test3::before {
    left: 35px;
    transform: translateY(-3572%);
  }
  .input-field-icon-3{
    background-position: left 12px center;
  }
}
